*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}
.container{
    width:100vw;
    height:100vh;
    min-height:1300px;
background: linear-gradient(90deg, rgba(164, 116, 81, 1.000) 0.000%, rgba(156, 152, 129, 1.000) 16.667%, rgba(115, 160, 157, 1.000) 33.333%, rgba(59, 137, 154, 1.000) 50.000%, rgba(9, 91, 121, 1.000) 66.667%, rgba(0, 40, 71, 1.000) 83.333%, rgba(0, 1, 22, 1.000) 100.000%);
    display:flex;
    justify-content:center;
    align-items: center;
}
.boxcontainer{
    width:360px;
    height:580px;
    background-color: white;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:30px;
    padding:20px;
}
.boxconatiner img{
    height:50%;
    width:30%;
    border-radius:20px;
}
.boxcontainer h2{
    font-weight:bold;
    font-size:1.8rem;
    font-family:'Times New Roman', Times, serif
}
.boxcontainer p{
    font-size:1.2rem;
}